/* revome default paddings and margings  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #778899;
}

/* display header and logo in same line with a gap */
header {
  display: flex;
  width: 100vw;
  gap: 500px;
  background-color: #d3d3d3;
}

#logo {
  margin: 10px 50px;
  border: black;
}
header h1 {
  margin: 40px 30px;
  align-items: center;
  font-family: "Acme", sans-serif;
  text-decoration: underline;
}

.box {
  background-color: rgba(128, 255, 212, 0.5);
  width: 80%;
  height: fit-content;
  margin: 35px 10%;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}
.box:hover {
  background-color: rgb(128, 255, 212);
  transition: 2s;
}

.box h2 {
  text-align: center;
  font-family: "Signika Negative", sans-serif;
}
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

hr {
  background-color: #7cfc00;
  height: 2.5px;
  border: #7cfc00;
}

video {
  display: block;
  margin: auto;
}

footer {
  text-align: center;
  margin: 30px 0 0 0;
  background-color: #a9a9a9;
  height: 50px;
  width: 100%;
}

footer h4 a {
  text-decoration: none;
}
